/*======
 * DISPLAY
 *======*/

@media (min-width: 1100px){
    .hidden-lg{
        display: none !important;
    }
}

@media (max-width: 1099px) and (min-width: 768px){
    .hidden-md{
        display: none !important;
    }
}

@media (max-width: 767px){
    .hidden-sm{
        display: none !important;
    }
}